.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  margin-inline: auto;
}

.title-wrapper {
  cursor: pointer;
}

.page-title {
  font-size: 3.2rem;
  line-height: 1.1;
}

.page-subtitle {
  font-size: 1.8rem;
  font-weight: 400;
}
