.page-nav {
  isolation: isolate;
}

.page-nav,
.navlinks-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.navlinks-container a {
  text-decoration: none;
  padding: 1rem 1.5rem;
}

.navlinks-container a:hover,
.navlinks-container a:focus {
  background-color: #e2e2e2;
  border-radius: 0.2em;
}
.navlinks-container a.active {
  /* text-decoration: underline; */
  font-weight: 600;
}

#navbar-active {
  display: none;
  position: absolute;
}

.open-navbar-btn,
.close-navbar-btn {
  display: none;
}

.navbar-overlay {
  position: absolute;
}

@media screen and (max-width: 700px) {
  .navlinks-container {
    flex-direction: column;
    justify-content: start;
    align-items: start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;

    width: 75vw;
    height: 100dvh;
    padding: 4rem 1.5rem;
    background-color: #fff;
    box-shadow: -5px 0 5px #4444443d;

    transition: 0.35s ease-out;
  }

  .navlinks-container a {
    padding-inline: 0;
    width: 100%;
  }
  .open-navbar-btn,
  .close-navbar-btn {
    display: block;
    padding: 0.55em;
  }

  #navbar-active:checked ~ .navlinks-container {
    right: 0;
  }

  #navbar-active:checked ~ .navbar-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}
